* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.full-calendar .calendar-container {
    padding: 20px 0;
}




/************************* BASIC CONTAINER **************************/


.basic-container {
    width: 1170px;
    margin: auto;
    display: flex;
    gap: 15px;
}

.event-container .events {
    width: 200px;
    background-color: black;
    padding: 12px 8px;
    border-radius: 10px;
}
.event-container h1 {
    margin-top: 38px;
    font-family: sans-serif;
}

.events p {
    color: white;
    padding-bottom: 10px;
}

.events .event {
    background-color: dodgerblue;
    color: white;
    padding: 3px 8px 3px 3px;
    border-radius: 3px;
    cursor: pointer;
}


/**************** CALENDAR ****************/

.calendar {
    width: 100%;
}

.calendar .calendar-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 955px;
    margin-top: 20px;
}
.calendar-btns .left-btns {
    display: flex;
    gap: 15px;
    align-items: center;
}

.calendar-btns .prev-next-btns {
    display: flex;
}

.prev-next-btns .btn:hover {
    background-color: black;
}

.prev-next-btns .previous {
    background-color: #2c3e50;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px 14px;
    border: none;
    cursor: pointer;
}

.prev-next-btns .next {
    background-color: #2c3e50;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 14px;
    border: none;
    cursor: pointer;
}

.today-btn button {
    background-color: gray;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 8px 14px;
    cursor: pointer;
}

.today-btn .btn:hover {
    background-color: black;
    color: white;
}

.calendar-btns .right-btns {
    display: flex;
}

/* MONTH TITLE  */

.calendar-btns .month-title {
    display: flex;
    align-items: center;
    gap: 5px;
}
.month-title .mnth,
.month-title .date,
.month-title .year {
    font-size: 30px;
}

/************************** RIGHT BTNS *************************/

.right-btns .month-btn,
.right-btns .week-btn,
.right-btns .day-btn,
.right-btns .list-btn {
    padding: 10px 14px;
    background-color: #2c3e50;
    border: none;
    color: white;
    cursor: pointer;
}

.right-btns .month-btn:hover,
.right-btns .week-btn:hover,
.right-btns .day-btn:hover,
.right-btns .list-btn:hover {
    background-color: black;
}

.right-btns .month-btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.right-btns .list-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



/************************************** DAY ***************************************/

.day .day-container {
    width: 100%;
    margin: auto;
}

.day-container .day-row {
    display: flex;
}

.day-row div {
    width: 74px;
    height: 23px;
    border: 1px solid lightgray;
}

.day-row .active-day {
    width: 880px;
    text-align: center;
}

.day-container .day-columns {
    display: flex;
}

.day-column div {
    width: 74px;
    height: 30px;
    border: 1px solid lightgray;
    text-align: center;
}

.empty-column .dayevent {
    border: 1px solid lightgray;
    width: 880px;
    height: 30px;
}





















/*************************** JAVASCRIPT *******************************/

p.event {
    background-color: dodgerblue;
    color: white;
    padding: 3px 8px 3px 3px;
    border-radius: 3px;
    cursor: pointer;
    text-align: left;
}